<div class="logo-and-navtools">
    <div class="logo-and-nav">
        <a href="__BASE_PATH__/index.html">
            <img src="__BASE_PATH__/images/logo.png" alt="Logo-for-What-to-Watch-Next">
        </a>
        <nav class="nav-container">
            <img src="__BASE_PATH__/images/icons/close.png" alt="close-icon-hamburger-menu" class="close-nav">
            <a href="__BASE_PATH__/index.html" class="btn-yellow">Home</a>
            <a href="__BASE_PATH__/howItWorks/index.html" class="btn-yellow">How it Works</a>
            <a href="__BASE_PATH__/favorites/index.html" class="btn-yellow">Favorites</a>
        </nav>
    </div>
    <div class="reset-login">
        <button class="btn-main">Reset</button>
        <a href="#" class="btn-main">Login</a>
    </div>
    <img src="__BASE_PATH__/images/icons/hamburger.png" alt="hamburger-menu-icon" class="hamburger">

</div>