<div class="logo-and-navtools">
    <div class="logo-and-nav">
        <a href="/index.html">
            <img src="./images/logo.png" alt="Logo-for-What-to-Watch-Next">
        </a>
        <nav class="nav-container">
            <img src="images/icons/close.png" alt="close-icon-hamburger-menu" class="close-nav">
            <a href="" class="btn-yellow">Home</a>
            <a href="" class="btn-yellow">How it Works</a>
            <a href="" class="btn-yellow">Favorites</a>
        </nav>
    </div>
    <div class="reset-login">
        <button class="btn-main">Reset</button>
        <a href="#" class="btn-main">Login</a>
    </div>
    <img src="images/icons/hamburger.png" alt="hamburger-menu-icon" class="hamburger">

</div>